{% extends 'base.html.twig' %}
{% block title %} {{ 'REGISTRATION.ACETIVATION.TITLE'|trans }}{% endblock %}

{% block body %}
    <p class="'alert alert-success">{{ 'REGISTRATION.ACTIVATION.INFO'|trans }}</p>
{% endblock %}